<div class="container">
    <div class="right-align">
    <a href="<%= request.path %>?locale=en">
        <span class="flag-icon flag-icon-us"></span>
    </a>
    <a href="<%= request.path %>?locale=pt-BR">
        <span class="flag-icon flag-icon-br"></span>
    </a>
    </div>
</div>