// Place all the styles related to the SteamLibrary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$body-color: rgb(21, 1, 31);
$component-color: rgb(4, 15, 80);
$component-color-hover: rgb(5, 19, 100);

$native-color: #4da338;
$platinum-color: rgb(180, 199, 220);
$gold-color: #ffce41;
$silver-color: rgb(166, 166, 166);
$bronze-color: rgb(205, 127, 50);
$borked-color: #bf5151;
$unknown-color: rgb(187, 179, 179);

@import "bootstrap";
.row {
    padding-bottom: 10px;
}

.div-center {
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

@font-face {
    font-family: 'Mad_Pixels';
    src: url('/assets/Mad_Pixels.otf')
 }

 h1 {
    font-family: 'Mad_Pixels';
    color: #fff;
}

 @media only screen and (max-width: 450px) {
    h1 {
        font-size: 2rem !important;
    }
 }

 body {
     background-color: $body-color;
 }

 p.light-gray {
     color: #ccc;
 }

 button.btn {
    background-color: $component-color;
    color: white;
 }

 button.btn:hover {
    background-color: $component-color-hover;
    color: white;
 }

 a.btn {
    background-color: $component-color;
    color: white;
 }

 a.btn:hover {
    background-color: $component-color-hover;
    color: white;
 }

 a.list-link {
     margin-left: 2px;
     margin-bottom: 2px;
 }

 input.form-control {
     color: #ccc !important;
     font-weight: bold;
 }

 input:focus {
    border-bottom: 1px solid $component-color !important;
    box-shadow: 0 1px 0 0 $component-color !important
}

div.white-body {
    background-color: #fff;
}

html {
    position: relative;
    min-height: 100%;
}


.footer {
    background-color: $body-color;
    left: 0px;
    width: 100%;
    position:absolute;
}

tbody > tr {
    font-weight: bold;
}

span.playable-pie-chart {
    font-weight: bold;
}

span.native-pie-chart {
    color: $native-color;
    font-weight: bold;
}

span.platinum-pie-chart {
    color: $platinum-color;
    font-weight: bold;
}

span.gold-pie-chart {
    color: $gold-color;
    font-weight: bold;
}

span.silver-pie-chart {
    color: $silver-color;
    font-weight: bold;
}

span.bronze-pie-chart {
    color: $bronze-color;
    font-weight: bold;
}

span.borked-pie-chart {
    color: $borked-color;
    font-weight: bold;
}

span.unknown-pie-chart {
    color: $unknown-color;
    font-weight: bold;
}

a.protondb_link:focus, a.protondb_link:visited, a.protondb_link:link, 
a.protondb_link:active, a.protondb_link:hover {
    color: black;
}

thead > tr {
    background-color: black;
    color: white ;
}

tr.native {
    background-color: $native-color;
}

tbody > tr.native > td > a.protondb_link , 
tbody > tr.native > th > a.protondb_link, tbody > tr.native > td {
    color: white ;
}

i.native {
    color: $native-color;
}

.table-striped > tbody > tr.native:nth-child(2n+1) > td > a, 
.table-striped > tbody > tr.native:nth-child(2n+1) > th > a, 
.table-striped > tbody > tr.native:nth-child(2n+1) > td {
    color: white;
}

tr.platinum {
    background-color: $platinum-color;
}

i.platinum {
    color: $platinum-color;
}

tr.gold {
    background-color: $gold-color;
}

i.gold {
    color: $gold-color;
}

tr.silver {
    background-color: $silver-color;
}

i.silver {
    color: $silver-color;
}

tr.bronze {
    background-color: $bronze-color;
}

i.bronze {
    color: $bronze-color;
}

tr.borked {
    background-color: $borked-color;
}

tbody > tr.borked > td > a.protondb_link , tbody > tr.borked > th > a.protondb_link, 
tbody > tr.borked > td {
    color: white ;
}

i.borked {
    color: $borked-color;
}

.table-striped > tbody > tr.borked:nth-child(2n+1) > td > a, 
.table-striped > tbody > tr.borked:nth-child(2n+1) > th > a, 
.table-striped > tbody > tr.borked:nth-child(2n+1) > td {
    color: white;
}

tr.unknown {
    background-color: $unknown-color;
}

i.unknown {
    color: $unknown-color;
}

.height-vh {
    min-height: 70vh;
}

.container-margin-top {
    margin-top: 110px;
}

.header-height {
    max-height: 30px;
}
