<div class="footer text-center">
    <div>
        <p class="text-secondary"><%= t('static_pages.footer.website_is_not_affiliated')%></p>
    </div>        
    <div>
        <a href="mailto:abc@core.com">GitHub</a>
        <span class="text-secondary"> | <%= t('static_pages.footer.mit_license')%></span>
    </div>
</div>