<div class="row header-height">
    <div class="col-sm-3">
        <% unless current_page?(steam_library_path) || current_page?(root_path) %>
            <%= link_to image_tag("mlol.png"), steam_library_path %> <span class="logo-text"><%= t('static_pages.website_name') %></span>
        <% end %>
    </div>
    <% if current_page?(steam_library_path) || current_page?(root_path) %>
        <div class="col-sm-5">
            <div class="right-align">
                <a href="<%= request.path %>?locale=en">
                    <span class="flag-icon flag-icon-us"></span>
                </a>
                <a href="<%= request.path %>?locale=pt-BR">
                    <span class="flag-icon flag-icon-br"></span>
                </a>
            </div>
        </div>
    <% end %>
</div>
